In [13]:
import pandas as pd

old_df = pd.read_excel('./history2.xlsx')
recent_df = pd.read_excel('./history1.xlsx')

In [14]:
old_df.iloc[:,0:5]

,def,ID,text,startingTime,startingFrame
0,PositiveEvent,2193.0,말 1가 완치되었습니다.,1566.081,81466.0
1,NaN,NaN,NaN,NaN,NaN
2,PositiveEvent,2194.0,"제이드, 전승자가 완치되었습니다.",1720.478,89844.0
3,NaN,NaN,NaN,NaN,NaN
4,PositiveEvent,2195.0,베올의 임신이 제1삼분기에서 제2삼분기로 진행했습니다.,1722.169,89900.0
...,...,...,...,...,...
405,NegativeEvent,2393.0,테인트가 적대적으로 돌아섰습니다!,9194.416,507239.0
406,NaN,NaN,NaN,NaN,NaN
407,ThreatBig,1187.0,"합류를 거부당하자, (*Name)테인트(/Name)가 살인적인 분노에 빠져 공격하기...",NaN,NaN
408,NaN,NaN,NaN,NaN,NaN
409,ThreatBig,1188.0,메탈호러가 나타났습니다! 전신에 날이 달린 악몽 같은 생물이 다음 숙주의 살과 피부...,NaN,NaN

In [15]:
recent_df.iloc[:,0:5]

         ID            def                label relatedFaction  arrivalTick
0    1087.0  NegativeEvent                   일식            NaN   20537000.0
1    2196.0  PositiveEvent                  NaN            NaN          NaN
2       NaN            NaN                  NaN            NaN          NaN
3    2198.0  NegativeEvent                  NaN            NaN          NaN
4       NaN            NaN                  NaN            NaN          NaN
..      ...            ...                  ...            ...          ...
403  1188.0      ThreatBig            메탈호러 출현 중            NaN   21645944.0
404     NaN            NaN                  NaN            NaN          NaN
405  1189.0   NeutralEvent              운석: 점판암            NaN   21653120.0
406     NaN            NaN                  NaN            NaN          NaN
407  1190.0   NeutralEvent  임무 만료: 보급품이 있는 보물상자            NaN   21657000.0

[408 rows x 5 columns]

In [16]:
df = pd.concat([old_df, recent_df]).drop_duplicates()
df.head(3)

,def,ID,text,startingTime,startingFrame,startingTick,lookTargets,quest,label,relatedFaction,arrivalTick,title,signalAccept,signalCapture,signalReject,pawn,speaker,disappearAtTick
0,PositiveEvent,2193.0,말 1가 완치되었습니다.,1566.081,81466.0,20511234.0,\n\t\t\t\t\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PositiveEvent,2194.0,"제이드, 전승자가 완치되었습니다.",1720.478,89844.0,20535678.0,\n\t\t\t\t\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
sliced_df = df.loc[:, 'def':'startingTick']
sliced_df.head(3)

,def,ID,text,startingTime,startingFrame,startingTick
0,PositiveEvent,2193.0,말 1가 완치되었습니다.,1566.081,81466.0,20511234.0
1,NaN,NaN,NaN,NaN,NaN,NaN
2,PositiveEvent,2194.0,"제이드, 전승자가 완치되었습니다.",1720.478,89844.0,20535678.0